table.dt-table {
  background-color: white;
  border-radius: 2px;
  border-spacing: 0;

  &.dt-table--full-width {
    width: 100%;
  }

  tr.dt-row {
    border-collapse: collapse;

    & > td.dt-cell,
    & > th.dt-cell {
      border-bottom: 0.5px solid #e0e0e0;
      padding: 12px 8px;
      text-align: left;
    }

    &:last-child:not(.dt-header-row) > td.dt-cell {
      border-bottom: none;
    }
  }
}